body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content {
    width: 60%;
    text-align: center;
    margin: 0px auto;
    padding: 190px 0;
}

.banner-content h1 {
    color: #ffffff;
    font-size: 70px;
    margin: 0;
}

.banner-content p {
    color: #ffffff;
    padding: 48px;
    font-size: 18px;
}

.link-button {
    text-decoration: none;
    padding: 18px 25px;
    background-color: #ff5959;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.donate-today {
   
}

.donate-heading {
    width: 60%;
    margin: 100px auto;
    text-align: center;
}

h2 {
    font-size: 50px;
    margin: 0;
    padding: 5px 0;
}

 p {
    font-size: 20px;
    color: #707070;
}

.donate-amount {
    width: 60%;
    margin: auto;
    display: flex;
   
}

.donate-item{
    width: 18%;
    background-color: #fafafa;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.donate-item h3{
    text-align: center;
    font-size: 35px;
    color: #707070;
    padding: 10px;
}

.colorful{
    color: #ff5959;
    border: 3px solid #ff5959;
    background-color: #ffeeee;
}

.colorful h3{
    color: #ff5959;
}

.donate-form{
    width: 60%;
    text-align: center;
    margin: 0px auto;
}

.taka{
    width: 95%;
    text-align: center;
    padding: 15px 0;
    margin: 50px 0;
    border: none;
    border-bottom: 2px solid #999999;
}

.taka::placeholder{
    color: #999999;
    font-size: 20px;
}

.donate-plan{
    margin: 80px auto;
}

.donate-plan-heading{
    text-align: center;
    padding: 40px 300px;
}

.donate-plan-content{
    width: 85%;
    display: flex;
    margin: auto;
}

.donate-plan-item{
    width: 28%;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 1px 15px #d8cbcb;
    border-radius: 5px;
}

.icon{
    margin-top: 50px;
}

.donate-plan-item h3{
    font-size: 30px;
    font-weight: 600;
}

.donate-plan-item p{
    font-size: 18px;
}

#food{
    background-color: #edf5f6;
}

#shelter{
    background-color: #fff4d6;
}

#education{
    background-color: #ffeeee;
}