body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.banner {
    background-image: linear-gradient(to bottom, rgba(255, 253, 252,0), rgb(0, 0, 0)), url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content {
    width: 60%;
    text-align: center;
    margin: 0px auto;
    padding: 190px 0;
}

.banner-content h1 {
    color: #ffffff;
    font-size: 70px;
    text-transform: capitalize;
    margin: 0;
    font-weight: bolder;
}

.banner-content p {
    color: #ffffff;
    padding: 48px;
    font-size: 18px;
}

.link-button {
    text-decoration: none;
    padding: 15px 30px;
    background-color: #21b573;
    color: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.donate-today {
   
}

.donate-heading {
    width: 60%;
    margin: 100px auto;
    text-align: center;
}

h2 {
    font-size: 45px;
    margin: 0;
    padding: 5px 0;
}

 p {
    font-size: 18px;
    color: #707070;
}

.donate-amount {
    width: 60%;
    margin: auto;
    display: flex;
   
}

.donate-item{
    width: 18%;
    background-color: #fafafa;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.donate-item h3{
    text-align: center;
    font-size: 35px;
    color: #707070;
    padding: 10px;
}

.colorful{
    color: #21b573;
    border: 2px solid #21b573;
    background-color: #f0fff0 ;
}

.colorful h3{
    color: #21b573;
}

.donate-form{
    width: 60%;
    text-align: center;
    margin: 0px auto;
}

.taka{
    width: 95%;
    text-align: center;
    padding: 15px 0;
    margin: 50px 0;
    border: none;
    border-bottom: 1px solid #8ccdb0;
}

.taka::placeholder{
    color: #999999;
    font-size: 18px;
}

.donate-plan{
    margin: 80px auto;
}

.donate-plan-heading{
    text-align: center;
    padding: 40px 300px;
}

.donate-plan-content{
    width: 85%;
    display: flex;
    margin: auto;
}

.donate-plan-item{
    width: 28%;
    margin: auto;
    padding: 20px;;
    border-radius: 5px;
}

.icon{
    margin-top: 50px;
}

.donate-plan-item h3{
    font-size: 30px;
    font-weight: 600;
}

.donate-plan-item p{
    font-size: 18px;
}

#food{
    background-color: #edf5f6;
}

#shelter{
    background-color: #fff4d6;
}

#education{
    background-color: #f0fff0;
}

#our-team{
    width: 85%;
    margin: 100px auto;
}

#our-team h2{
    text-align: center;
}

.our-team-content{
    width: 100%;
    margin-top: 60px;
    display: flex;
}

.our-team-item{
    width: 29%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.our-team-item img{
    width: 100%;
    border-radius: 4px;
}

.our-team-item h3{
    font-size: 30px;
}

.updates{
    margin: 120px 20%;
}

.updates-heading{
    text-align: center;
}

.subscribe-form form{
    background: #edf5f6;
    margin: auto;
    margin-top: 70px;
    padding: 80px 150px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.subscribe-form form input{
    width: 60%;
    padding: 18px;
    border-radius: 4px 0 0 4px;
    border: none;
    background-color: #bcd8bc ;
}

.subscribe-form form input::placeholder{
    font-size: 17px;
    color: #999999;
}

.sub-button{
    width: 30%;
    text-decoration: none;
    background: #21b573;
    text-align: center;
    padding: 15px;
    color: #ffffff;
    font-size: 17px;
    border-radius: 0 4px 4px 0;
    
}

footer{
    background-color: #0b0d17;
    margin-top: 100px;
    padding: 2px;
    text-align: center;
}

footer h3{
    color: #21b573;
    font-size: 28px;
}